nav{
    background-color: #BAB2B5;
    color: white;
    border: outset;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.list-header ul{
    display: flex;
    flex-direction: row;
}

.list-header ul li{
    margin: 0 10px;
}

.list-header ul li a{
    color: white;
    text-decoration: none;
}

.list-header ul li a:hover{
    color: blue;
    text-decoration: none;
}

ul{
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0 auto;
    margin-top: 15px;
    width: 500px;
    border: 3px solid blue;
    padding: 0 2em 1em;
}
h1 {
    color: blue;
}
div {
    margin-bottom: 1em;
}
label {
    display: inline-block;
    width: 11em;
    text-align: right;
}
input {
    margin-left: 1em;
    margin-right: 0.5em;
}
span {
    color: red;
}
#convert {
	width: 10em;
}

/*div that's the 3rd child of its parent element (main) */
div:nth-child(3) {
    margin-bottom: 1.5em;
}

table{
    background-image: url(images/image-color.avif);
}