* {
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
    }

body{
    background-color: #FFA886;
}

::-webkit-scrollbar {
    width: 10px;
    }

::-webkit-scrollbar-thumb {
    background: #da6666;
    border-radius: 5px;
    }

::-webkit-scrollbar-thumb:hover {
    background: #fcfbfb;
    }
    
/*index*/  

.main-img{
    width: 300px;
    height: 300px;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

/*CCSRes*/

/*CSSTutorial*/

.container {
    display: flex;
    flex-wrap: wrap;
}

.shape {
    float: left;
    width: 150px;
    height: 150px;
    shape-outside: circle(50%);
    clip-path: circle(50%);
    background-color: #3498db;
    margin-right: 20px;
    margin-bottom: 20px;
}

.lorem{
    line-height: 1.6;
}

h2{
    font-size: 60px;
    color: #fff;
    text-shadow:
    1px 1px 0 #ccc,
    2px 2px 0 #bbb,
    3px 3px 0 #aaa,
    4px 4px 0 #999;
}
